{% extends "templates/partials/base.j2" %}
{% block title %}Arthur Schnitzler – Reiseabfolge{% endblock %}
{% block scriptHeader %}
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://unpkg.com/deck.gl@8.9.0/dist.min.js"></script>
<script src="https://unpkg.com/@deck.gl/extensions@8.9.0/dist.min.js"></script>

<style type="text/css">
    #viscontainer {
    font-family: Helvetica, Arial, sans-serif;
    width: 100vmax;
    height: 1000px;
    margin: 0;
  }

  #control-panel {
    position: absolute;
    top: 170px;
    left: 0;
    margin: 12px;
    padding: 20px;
    font-size: 12px;
    line-height: 1.5;
    z-index: 1;
    background: #fff;
    font-family: Helvetica, Arial, sans-serif;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  }

  label {
    display: inline-block;
    width: 140px;
  }

  .deck-tooltip {
    font-family: Helvetica, Arial, sans-serif;
    padding: 6px !important;
    margin: 8px;
    max-width: 300px;
    font-size: 10px;
  }
</style>
{% endblock scriptHeader %}


{% block content %}
<div class="card p-2">
    <div class="card-header">
        <h1>Beziehungen von Orten</h1>
        <div id="control-panel">
          <div>
            <label>Jahr (min)</label>
            <input id="filter-min" type="range" min="1879" max="1931" step="1" value="1879"></input>
            <span id="filter-min-value"></span>
          </div>
          <div>
            <label>Jahr (max)</label>
            <input id="filter-max" type="range" min="1879" max="1931" step="1" value="1931"></input>
            <span id="filter-max-value"></span>
          </div>
          <div>
            <label>Bogenbreite</label>
            <input id="getWidth" type="range" min="0" max="3" step="1" value="2"></input>
            <span id="getWidth-value"></span>
          </div> 
          <div>
            <label>Bogenhöhe</label>
            <input id="getHeight" type="range" min="0.1" max="1" step="0.1" value="0.5"></input>
            <span id="getHeight-value"></span>
          </div>
          <div>
            <label>Wähle den Ausgangsort</label>
             <input id="searchPlaceInput" type="text" class="form-control" placeholder="Suche in Ausgangsorten">
          </div>
          <div>
            <label>Wähle den Zielort</label>
             <input id="searchAdesseInput" type="text" class="form-control" placeholder="Suche in Zielorten">
          </div>
      </div>
    </div>
    <div class="card-body">
        <div id="viscontainer"></div>
  </div>
</div>
<script src="static/js/arcs.js"></script>
{% endblock %}
