{% extends "templates/partials/base.j2" %}
{% block scriptHeader %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.6/proj4.js"></script>
<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
<script src="https://code.highcharts.com/maps/modules/accessibility.js"></script>
<style>
#container {
  height: 800px;
  min-width: 1000px;
  max-width: 1800px;
  margin: 0 auto;
}

.loading {
  margin-top: 10em;
  text-align: center;
  color: gray;
}
</style>
{% endblock %}
{% block content %}

<div class="card p-2">
   <div id="container"></div>
</div>

<script src="static/js/bubblemap.js">

</script>
{% endblock %}