{% extends "templates/partials/base.j2" %}
{% block content %}
<div class="container">
<div class="card p-2">
    <div class="flourish-embed flourish-map" data-src="visualisation/10924769"></div>
</div>
</div>
<script src="https://public.flourish.studio/resources/embed.js"></script>
{% endblock %}