{% extends "templates/partials/base.j2" %}
{% block content %}
<div class="hfeed site" id="page">
    <xsl:call-template name="nav_bar"/>
    <div class="wrapper" id="wrapper-hero">
    <!-- ******************* The Hero Area ******************* -->
    <div class="wrapper" id="wrapper-hero-content"
    style="background-image:url(https://shared.acdh.oeaw.ac.at/schnitzler-orte/schnitzler-orte-farbe.jpg);">
    <div class="container-fluid-empty hero-light" id="wrapper-hero-inner"
    tabindex="-1">
    <div style="min-height: 250px;">
        <div>
              </div>
    </div></div>

</div>
</div>

<div class="container" style="margin-top:1em;">
    <div class="row">
        <h1 style="color:black; text-align: center;">Aufenthaltsorte von Arthur Schnitzler (1879–1931)</h1>

        <div class="col-md-8" style="margin: 0 auto; ">
            <p style="font-size:18px;line-height:27px;">Der österreichische Schriftsteller Arthur Schnitzler (1862–1931) führte für den Großteil seines Lebens ein <a href="https://schnitzler-tagebuch.acdh.oeaw.ac.at">Tagebuch</a>, in dem er vermerkte,
             wo er sich gerade aufhielt und welche Ausflüge er unternommen hatte. Er selbst beauftragte ein Exzerpt seiner Reisen 
             zu erstellen. Das Ergebnis ist ein Typoskript mit 67 Seiten, das heute in seinem Nachlass in der Cambridge University Library liegt (Mappe A175). 
             </p>
             <p  style="font-size:18px;line-height:27px;">Ausgehend von diesen Daten unternahmen wir es, eine vollständige Auflistung seiner Aufenthaltsorte zu erstellen. An einer getreuen Edition der Liste war uns nicht gelegen. 
             Mit Hilfe des Tagebuchs wurden einzelne Korrekturen vorgenommen und auch die fehlenden Jahre 1928 bis 1931 nachgetragen. Die Daten sind insofern unvollständig, als eine mögliche feinere Granulierung, die genauere Punkte 
             innerhalb von Städten, etwa Gebäude
                und Sehenswürdigkeiten, nicht durchgängig erfasst sind. Die Quelldatei mit den Daten kann bei <a href="https://github.com/arthur-schnitzler/schnitzler-orte/tree/main/editions">gitHub</a> 
                geladen werden.</p>
            
             <p style="font-size:18px;line-height:27px;">Bestimmte Uneinheitlichkeiten innerhalb der Daten, etwa ob einzelne Straßen
            oder Gebäude ausgezeichnet sind, bestehen auf absehbare Zeit. Wir hoffen, nach und nach genauere Angaben zu ergänzen.</p>
        <p style="font-size:18px;line-height:27px;">Auf der vorliegenden Seite sind mehrere Visualisierungen umgesetzt, mit der der geografische Raum ermessbar wird, in dem sich Schnitzler seit seiner Volljährigkeit
                    bewegt hat. Der experimentelle Charakter soll explizit betont sein. Visualisierungen können jederzeit hinzukommen oder
                    verschwinden.</p>
                    <p  style="font-size:18px;line-height:27px;"/>
                    <p style="font-size:18px;line-height:27px;"><i>Die Website und die 
                        Visualisierungen verantwortete Peter Andorfer. Die Daten wurden von Martin Anton Müller, Laura Puntigam und Laura Untner aufbereitet.</i></p>
             

            


    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md">
                <div class="card">
                    <div class="card-header">
                        <a href="flourish.html">
                            <h2>Reiseabfolge</h2>
                        </a>
                        <img
                        src="https://shared.acdh.oeaw.ac.at/schnitzler-orte/florish.jpg" width="100%" 
                        />
                    </div>

                    <div class="card-body">
                        <p>Die Aufenthalte werden entlang einer Zeitachse
                            dargestellt, die abgespielt werden kann.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card">
                    <div class="card-header">
                        <a href="itineraries.html">
                            <h2>Ziele nach Jahren
                        </h2>
                        <img
                        src="https://shared.acdh.oeaw.ac.at/schnitzler-orte/mit-postkarte.jpg" width="100%" 
                        />
                        </a>
                    </div>
                    <div class="card-body">
                        <p>Aufenthalte eines Jahres durchblättern. Dazu
                            werden Postkartenbilder des Ortes gezeigt.</p>

                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card">
                    <div class="card-header">
                        <a href="arcs.html">
                            <h2>Beziehungen zwischen Orten</h2>
                            <img
                            src="https://shared.acdh.oeaw.ac.at/schnitzler-orte/arcs.jpg" width="100%" 
                            />
                        </a>
                    </div>
                    <div class="card-body">
                        <p>Von welchem Ort reiste er wohin? Durch Angabe eines
                            Ausgangspunktes wird die Einbettung in die Reise
                            sichtbar. Die Filtermöglichkeit beschränkt den
                        Zeitraum.</p>
                    </div>
                </div>
            </div>
            </div>
            <div class="row">


            <div class="col-md">
                <div class="card">
                    <div class="card-header">
                        <a href="bubblemap.html">
                            <h2>Aufenthaltsdauer</h2>
                        </a>
                        <img
                        src="https://shared.acdh.oeaw.ac.at/schnitzler-orte/bubblemap.jpg" width="100%" 
                        />
                    </div>
                    <div class="card-body">
                     <p>Angezeigt werden die Orte, an denen er sich – abgesehen von Wien –
                     am längsten aufhielt.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md">
                <div class="card">
                    <div class="card-header">
                        <a href="towers.html">
                            <h2>Quantitativ</h2>
                            <img
                            src="https://shared.acdh.oeaw.ac.at/schnitzler-orte/towers.jpg" width="100%" 
                            />
                        </a>
                    </div>
                    <div class="card-body">
                        <p>Die jeweiligen Aufenthaltstage auf einer Karte ausgedrückt.</p>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card">
                    <div class="card-header">
                        <a href="travel-net-map.html">
                            <h2>Netzwerkdarstellung auf einer Karte</h2>
                            <img
                            src="https://shared.acdh.oeaw.ac.at/schnitzler-orte/netzwerk-geo.jpg" width="100%" 
                            />
                        </a>
                    </div>
                    <div class="card-body">
                        <p>Die Aufenthaltsorte als Beziehungen auf einer Karte Europas.</p>

                    </div>
                </div>
            </div>
        </div>
      
  <!--      <div class="row">
        
            
          
            <div class="col-md">
                <div class="card">
                    <div class="card-header">
                        <a href="travels.html">
                            <h2>Tabellendarstellung</h2>
                        </a>
                    </div>
                    <div class="card-body">
                        <p>Tabellendarstellung mit Exportmöglichkeit.</p>
                    </div>
                </div>
            </div>

        </div>-->
    </div>
</div>
</div>
{% endblock %}
