{% extends "templates/partials/base.j2" %}
{% block content %}
<div class="card p-3">
    <div class="card-header">
        <h1>Aufenthaltsorte von Arthur Schnitzler</h1>
        <p>Der österreichische Schriftsteller Arthur Schnitzler (1862–1931) führte für den Großteil seines Lebens ein <a href="https://schnitzler-tagebuch.acdh.oeaw.ac.at">Tagebuch</a>, in dem er vermerkte,
             wo er sich gerade aufhielt und welche Ausflüge er unternommen hatte. Er selbst ließ davon eine Exzerpt seiner Reisen erstellen, das heute als Typoskript mit 67 Seiten in seinem Nachlass in der Cambridge University Library liegt (Mappe A175). 
             Diese Daten wurden als Ausgangspunkt genommen, um eine vollständige Auflistung seiner Aufenthaltsorte zu erreichen. Mit Hilfe des Tagebuchs wurden einzelne Korrekturen vorgenommen und die fehlenden Jahre 1928 – 1931 nachgetragen.</p>
             <p>Die Daten sind insofern unvollständig, als eine mögliche feinere Granulierung, die genauere Punkte innerhalb von Städten, etwa Gebäude
                und Sehenswürdigkeiten, nicht regelmäßig erfasst sind.
             </p>
             <p>Die Quelldatei kann bei <a href="https://github.com/arthur-schnitzler/schnitzler-orte/tree/main/editions">gitHub</a> 
                geladen werden.</p>
                <p>Mehrere Visualisierungen erlauben, den geografischen Raum zu ermessen, in dem sich Schnitzler seit seiner Volljährigkeit
                    bewegt hat.</p>

                    <p/>
                    <p><i>Die Website und die 
                        Visualisierungen verantwortete Peter Andorfer. Die Daten wurden von Martin Anton Müller, Laura Puntigam und Laura Untner aufbereitet.</i></p>
             

            


    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md">
                <div class="card">
                    <div class="card-header">
                        <a href="bubblemap.html">
                            <h2>Bubblemap</h2>
                        </a>
                    </div>
                    <div class="card-body">
                        {{ lipsum(2) }}
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card">
                    <div class="card-header">
                        <a href="heatmap.html">
                            <h2>Heatmap</h2>
                        </a>
                    </div>
                    <div class="card-body">
                        {{ lipsum(2) }}
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card">
                    <div class="card-header">
                        <a href="towers.html">
                            <h2>3D Bar Map</h2>
                        </a>
                    </div>
                    <div class="card-body">
                        {{ lipsum(3) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="card">
                    <div class="card-header">
                        <a href="florish.html">
                            <h2>Florish</h2>
                        </a>
                    </div>
                    <div class="card-body">
                        {{ lipsum(2) }}
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card">
                    <div class="card-header">
                        <a href="itineraries.html">
                            <h2>Aufenthalte pro Jahr</h2>
                        </a>
                    </div>
                    <div class="card-body">
                         lipTeststsum
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        <div class="col-md">
                <div class="card">
                    <div class="card-header">
                        <a href="arcs.html">
                            <h2>Schnitzler Reisen </h2>
                        </a>
                    </div>
                    <div class="card-body">
                        {{ lipsum(2) }}
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card">
                    <div class="card-header">
                        <a href="travels.html">
                            <h2>Schnitzler Reisen (als Tabelle)</h2>
                        </a>
                    </div>
                    <div class="card-body">
                        {{ lipsum(2) }}
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card">
                    <div class="card-header">
                        <a href="travel-net.html">
                            <h2>Schnitzler Reisen (als Netzwerk)</h2>
                        </a>
                    </div>
                    <div class="card-body">
                        {{ lipsum(3) }}
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card">
                    <div class="card-header">
                        <a href="travel-net-map.html">
                            <h2>Schnitzler Reisen (als Netzwerk auf Karte)</h2>
                        </a>
                    </div>
                    <div class="card-body">
                        {{ lipsum(2) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}