{% extends "templates/partials/base.j2" %}
{% block title %}Schnitzlers Aufenthalte auf der Welt{% endblock %}
{% block scriptHeader %}
<script src="https://unpkg.com/deck.gl@8.9.0/dist.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>

<style type="text/css">
  #viscontainer {
    font-family: Helvetica, Arial, sans-serif;
    width: 100vmax;
    height: 1000px;
    margin: 0;
  }

  #control-panel {
    position: absolute;
    top: 170px;
    left: 0;
    margin: 12px;
    padding: 20px;
    font-size: 12px;
    line-height: 1.5;
    z-index: 1;
    background: #fff;
    font-family: Helvetica, Arial, sans-serif;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  }

  label {
    display: inline-block;
    width: 140px;
  }
</style>
{% endblock scriptHeader %}


{% block content %}
<div class="card p-2">
  <div class="card-header">
    <h1>Schnitzlers Aufenthalte auf der Welt</h1>
    <div id="control-panel">
      <div>
        <label>Radius</label>
        <input id="radius" type="range" min="1000" max="20000" step="1000" value="1000"></input>
        <span id="radius-value"></span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div id="viscontainer"></div>
  </div>
  <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" style="text-align: center;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h3 id="myModalLabel">Modal title</h3>
        </div>
        <div class="modal-body" id="modalBody">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="static/js/towers.js"></script>
{% endblock %}