<div class="container">
  <footer class="py-3 my-4 border-top">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4" style="text-align: center;">
        <span>
          <a href="https://github.com/arthur-schnitzler/schnitzler-orte">
            <i class="bi bi-github"></i>
          </a>
        </span>
      </div>
      <div class="col-md-4"></div>
    </div>
  </footer>
</div>