<div class="wrapper-fluid wrapper-navbar sticky-navbar" id="wrapper-navbar" itemscope="" itemtype="http://schema.org/WebSite">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <!-- Your site title as branding in the menu -->
                    <a href="index.html" class="navbar-brand custom-logo-link" rel="home" itemprop="url">
                        <img src="https://shared.acdh.oeaw.ac.at//schnitzler-orte/schnitzler-orte.jpg" class="img-fluid" alt="Schnitzler Tagebuch" itemprop="logo"/>
                    </a><!-- end custom logo -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"/>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <!-- Your menu goes here -->
                        <ul id="main-menu" class="navbar-nav">
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                     aria-expanded="false"> Links </a>
                  <ul class="dropdown-menu">
                     <li>
                        <a class="dropdown-item"
                           href="https://github.com/arthur-schnitzler/schnitzler-orte/tree/main/editions"
                           >Datei bei gitHub</a>
                     </li>
                     <li>
                        <a class="dropdown-item" href="https://schnitzler.acdh.oeaw.ac.at">Schnitzler
                           am ACDH-CH</a>
                     </li>
                     <li>
                        <a class="dropdown-item" href="https://schnitzler-tagebuch.acdh.oeaw.ac.at"
                           >Tagebuch</a>
                     </li>
                     <li>
                        <a class="dropdown-item" href="https://schnitzler-briefe.acdh.oeaw.ac.at"
                           >Briefe</a>
                     </li>
                  </ul>
               </li>
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                     aria-expanded="false"> Visualisierungen </a>
                  <ul class="dropdown-menu">
                     <li>
                        <a class="dropdown-item" href="flourish.html">Animierte Reiseabfolge</a>
                     </li>
                     <li>
                        <a class="dropdown-item" href="itineraries.html">Ziele nach Jahren</a>
                     </li>

                     <li>
                        <a class="dropdown-item" href="arcs.html">Beziehungen zwischen Orten</a>
                     </li>
                                          <li>
                        <a class="dropdown-item" href="network.html">Netzwerk</a>
                     </li>
                       <li>
                        <a class="dropdown-item" href="towers.html">Quantitativ auf einer Karte</a>
                     </li>

                     <li>
                        <a class="dropdown-item" href="travel-net-map.html">Netzwerk auf einer
                           Karte</a>
                     </li>
                    <!-- <li>
                        <a class="dropdown-item" href="travels.html">Tabelle</a>
                     </li> -->
                  </ul>
               </li>
            </ul>

                       
                    </div>
                    <!-- .collapse navbar-collapse -->
                </div>
                <!-- .container -->
            </nav>
            <!-- .site-navigation -->
        </div>



